<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${PageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href = "@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${PageTitle}]]</h2></div>
    <form th:action="@{/course/save}" method="post" th:object="${course}" style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">ID: </label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{courseId}" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Course Name: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{courseName}" class="form-control"/>
                </div>
            </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-primary m-2" onclick="cancelForm()">Cancel</button>
            </div>
    </form>
</div>
<script>
    function cancelForm(){
        window.location = "[[@{/course}]]";
    }
</script>

</body>
</html>