<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Course</title>
  <link rel="stylesheet" type="text/css" th:href = "@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center" >
  <div><h1>Manage Course</h1></div>
  <div>
    <a class="h3 m-2" th:href="@{/course/new}">Add new Course</a>
  </div>
  <div th:if="${#messages}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Course Name</th>
        <th></th>
      </tr>
      </thead>
      <th:block th:each="course: ${listcourses}">
        <tr>
          <td>[[${course.courseId}]]</td>
          <td>[[${course.CourseName}]]</td>
          <td>
            <a class="h4 m-2" th:href="@{'/course/edit/' + ${course.courseId}} ">Edit</a>
            <a class="h4 m-2" th:href="@{'/course/delete/' + ${course.courseId}}">Delete</a>
          </td>
        </tr>
      </th:block>
    </table>
  </div>

</div>
</body>
</html>